* {
  margin: 0;
  padding: 0;
}

/* primary styles */
.center-text {
  text-align: center;
}
.bg-color-1 {
  background-color: #c6e4d6;
}
.bg-color-2 {
  background: rgba(84, 144, 245, 0.2);
}
.bg-color-3 {
  background: #f7ebcf;
}
.bg-color-4 {
  background-color: #006a50;
}
.card-bg-1 {
  background-color: #5490f5;
}
.card-bg-2 {
  background-color: #09a15c;
}
.card-bg-3 {
  background-color: #ffc239;
}
.fira-sans {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.body-bg {
  background-color: #f1f1f3;
}

.primary-btn-1 {
  padding: 17px 34px;

  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* primary card style */
.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}
.card-para {
  color: rgba(14, 14, 14, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.section-title {
  color: #0e0e0e;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 24px;
}
.card-btn {
  padding: 11px 20px;
  border-radius: 8px;

  color: #fff;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 600;
  border: none;
}

/* navbar style */
nav {
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
nav h1 {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
}
nav button {
  padding: 15px 30px;

  color: #006a50;
  font-size: 18px;
  font-weight: 600;

  border-radius: 8px;
}
/* banner style */

.banner {
  margin: 0 160px 80px 160px;
  border-radius: 24px;
  background: #c6e4d6;
  padding: 80px 100px;

  display: flex;
  gap: 20px;
  align-items: center;
}

.disc h4 {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.disc h1 {
  color: #0e0e0e;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* main style */

main {
  margin: 0 160px;
}
/* pillars style */
.pillar-cards {
  display: flex;
  gap: 24px;
}
.pillar-card {
  width: 250px;
  padding: 24px 24px 0 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  margin-bottom: 80px;
}

/* vision style */
.vision-cards {
  margin: 32px 0;
  display: flex;
  gap: 24px;
}
.vision-card {
  width: 345px;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* quote section style */

.quote {
  margin-bottom: 80px;
  padding: 48px 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;

  background: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 25px 22px;
}
.quote .speech {
  color: rgba(14, 14, 14, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.quote h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 4px;
}
.quote .designation {
  color: rgba(14, 14, 14, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
